<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>UIBackgroundModes</key><array><string>location</string></array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key><true/>
        <key>UISceneConfigurations</key>
        <dict>
            <key>CPTemplateApplicationSceneSessionRoleApplication</key>
            <array><dict>
                <key>UISceneConfigurationName</key><string>CarPlay</string>
                <key>UISceneClassName</key><string>CPTemplateApplicationScene</string>
                <key>UISceneDelegateClassName</key><string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
            </dict></array>
        </dict>
    </dict>
    <key>UIFileSharingEnabled</key><true/>
    <key>LSSupportsOpeningDocumentsInPlace</key><true/>
    <key>UIUserInterfaceStyle</key><string>Dark</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key><string>LaunchBackground</string>
    </dict>
</dict></plist>
